{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="blog-title">Welcome to the Tech Knowledge Blog</h1>
    <p class="blog-description">
        Explore the latest tech articles, tutorials, and news.
    </p>
    <!-- Recent blog posts -->
    <h2>Recent Posts</h2>
    <div id="posts"></div>
    <!-- This div will be filled by JavaScript -->
    <button id="loadMore" style="display: none;">Read More</button>
    <div id="post-detail"></div>
</div>

<script src="{% static 'script.js' %}"></script> <!-- Include your JavaScript file -->
{% endblock %}